<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Web theme</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="view/resource/bootstrap/css/bootstrap.min.css">
<script src="view/resource/lib/jquery-2.1.4.min.js"></script>
<script src="view/resource/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="view/resource/css/theme_customize.css">
</head>
<body>
	<div class="container">
		<!-- menu top -->
		<nav
			class="navbar navbar-inverse navbar-fixed-top custom_navbar_color">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="navbar-header">
							<img
								src="http://thumbs.dreamstime.com/x/job-search-3d-icon-16095671.jpg"
								class="img-circle navbar-brand" width="60" height="70"> <a
								class="navbar-brand custom_color_white"> RECOMMENDATION
								SYSTEM</a>
						</div>
					</div>
					<div class="col-md-7">
						<div>
							<ul class="nav navbar-nav  navbar-right">
								<li><a href="#">Home</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"> <span
										class="glyphicon glyphicon-user"></span> Xin chào, ABC<span
										class="caret"></span>
								</a>
									<ul class="dropdown-menu">
										<li><a href="#">Thay đổi mật khẩu</a></li>
										<li><a href="#"><span
												class="glyphicon glyphicon-log-in"></span> Đăng xuất</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- chia trang thanh 2 cot -->

		<div class="container-fluid">
			<br> <br> <br>
			<div class="row">
				<div class="col-md-3">
					<div data-spy="affix" data-offset-top="0">
						<div class="container-fluid col-md-offset-0">
							<h4>Xin chào!</h4>
							<img
								src="http://vui3g.com/files/posts/images/5-2014/girl-xinh-dan-toc-mong.jpg"
								class="img-rounded" width="170" height="170">
						</div>
						<br>
						<div>
							<ul class="nav nav-pills nav-stacked custom_font_bold">
								<li class><a href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span> CÔNG VIỆC MỚI
										NHẤT</a></li>
								<li class><a href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span> LĨNH VỰC QUAN
										TÂM</a></li>
								<li class><a href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span> THÔNG BÁO</a></li>

								<li class><a href="#"><span
										class="glyphicon glyphicon-list-alt"></span> XEM HỒ SƠ CỦA BẠN</a></li>
								<li class><a href="#"><span
										class="glyphicon glyphicon-question-sign"></span> TRỢ GIÚP</a></li>
								<li class><a href="#"><span
										class="glyphicon glyphicon-envelope"></span> FEEDBACK</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9 custom_background_color">
					<br> <br>
					<div class="panel panel-info">
						<div class="panel-heading">
							<a id="see-more" class="btn btn-link"><b>Ruby on Rails
									Developer ($1000 - $1,500)</b></a>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="company">
									<pre>Công ty: Free Range Technology</pre>
								</div>
								<div class="location">
									<pre>Địa chỉ: Hồ Chí Minh</pre>
								</div>
								<div class="salary">
									<pre>Lương: 1,000 - 1,500 USD</pre>
								</div>
								<div id="short-description">
									<pre>We are looking for a talented Ruby on Rails Developer who wants to work with new Developers in an interactive working Environment. If you are young,...</pre>
								</div>
								<div id="full-info" class="collapse">
									<div class="description">
										<pre>Description:
-over 26 years old
-Bachelor's degree in Accounting, Finance or equivalent;
-Knowledge of Finance, Accounting principles;
-Well practices with VAS, IAS, GAAP; 
-At least four-year experience in Accounting field is required. 
-Logical thinking & good organization skills;
-Solid communication skills. 
<Desired Characteristics>
-Ensure compliance with applicable regulations and principles;
-Proficiency in MS office & relevant accounting software;
-Strong oral and written communication skills in English;
-Team work orientation;
-Detail attention, hard working, enthusiastic;
									
									
									
										
										
										
										
										
										
										
										
										
										
										
										</pre>
									</div>
									<div class="requirement">
										<pre>Requirement:
- Experience (Requirement):
• Minimum of 10 working experience years, at least 02 – 03 years at Project Manager
• Fluent in Japanese and English communication (Speaking & Writing)
• Experience in software outsourcing company, used to work with Japan client and market
• Project Management Timeline
• Project Quality Management
• Manage and build team

- Preferred Qualifications:
• Budget Management
• Business Creation

- Other requirements:
• Travel for business trip (when required)
• Work on-site (when required) </pre>
									</div>
									<div class="benifit">
										<pre>Benifit:
Why should you work at NEC Vietnam? Here are some of reasons you may want to:

** Lots of opportunities to work in the special fields
We have many kind of interesting projects that may unleash your capabilities such as:
- Mobile development projects ( Android, iOS)
- Government’s projects
- Offshore projects for Japan and Asia markets, etc.

** To work as global engineer
To be a part of our team to do international projects, you have many chances to use Japanese and English with foreign co-workers as well as to work abroad, especially in Japan.

** Opportunities to improve your skills
We are not only focus on works, but try to improve our employees by continuously conducting many training courses in following topics:
- Technical skills
- Management and leadership, and Quality processes
- Japanese and English languages

** Good working environment
- Opportunities for promotion and career-up
- Special allowance for TOEIC and Japanese (JLPT) certifications
- Many young people, friendly atmosphere, and excellent working facilities.
- Many activities to tight up the relationship between employees such as company trip, Christmas party, New Year's party, support for sport activities, etc.
- 13rd month salary, bonus up to 15th month salary
- International Insurrance
- Indoor Activities such as: Bowling Tournament, Football and Badminton Club, Parties, ect...</pre>
									</div>
									<div class="expired">
										<pre>Expired:</pre>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<label>Bạn thấy công việc này có phù hợp với bạn không?</label> <a
								href="#" class="btn btn-default glyphicon glyphicon-thumbs-up"
								data-toggle="tooltip" title="Việc này phù hợp với tôi!"></a> <a
								href="#" class="btn btn-default glyphicon glyphicon-thumbs-down"
								data-toggle="tooltip" title="Việc này không hợp, bỏ đi!"
								style="margin-left: 8px; margin-right: 8px;"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>

	</div>
</body>
</html>






